/*
 * Copyright © 2015, 2019 Acoustic, L.P. All rights reserved.
 *
 * NOTICE: This file contains material that is confidential and proprietary to
 * Acoustic, L.P. and/or other developers. No license is granted under any intellectual or
 * industrial property rights of Acoustic, L.P. except as may be provided in an agreement with
 * Acoustic, L.P. Any unauthorized copying or distribution of content from this file is
 * prohibited.
 */

#inApp.bannerInApp {
    position: fixed;
    left: 0;
    right: 0;
    height: 44px;
    z-index: 1100;
    text-shadow: none;
    height: 44px;
}

#inApp.bannerInApp .text {
    margin-left: 44px;
    margin-right: 44px;
}

#inApp.bannerInApp .icon {
    position: absolute;
    height: 44px;
    width: 44px;
    left: 0;
    bottom: 0;
    top: 0;
}

#inApp.bannerInApp .icon img {
    margin: 10px;
    height: 24px;
    width: 24px;
}

#inApp.bannerInApp .close {
    position: absolute;
    height: 44px;
    width: 44px;
    right: 0;
    bottom: 0;
    top: 0;
}

#inApp.bannerInApp .close img {
    margin: 10px;
    height: 24px;
    width: 24px;
}