<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Copyright © 2011, 2019 Acoustic, L.P. All rights reserved.
NOTICE: This file contains material that is confidential and proprietary to 
Acoustic, L.P. and/or other developers. No license is granted under any intellectual or 
industrial property rights of Acoustic, L.P. except as may be provided in an agreement with 
Acoustic, L.P. Any unauthorized copying or distribution of content from this file is prohibited.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="co.acoustic.mobile.push.sdk"
version="3.8.0">
    <name>Acoustic MCE Cordova Plugin</name>
    <author>Acoustic MCE</author>
    <description>Allows Cordova applications to integrate with Acoustic MCE Push Services</description>
    <keywords>mce</keywords>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>
    <js-module src="MCEPlugin.js" name="MCEPlugin">
        <clobbers target="MCEPlugin" />
    </js-module>


    <!--START INBOX PLUGIN-->
    <js-module src="MCEInboxPlugin.js" name="MCEInboxPlugin">
        <clobbers target="MCEInboxPlugin" />
    </js-module>
        
    <js-module src="js/MCEInbox.js" name="MCEInbox">
        <clobbers target="MCEInbox" />
    </js-module>

    <js-module src="js/MCEDefaultInbox.js" name="MCEDefaultInbox">
        <clobbers target="MCEDefaultInbox" />
    </js-module>

    <js-module src="js/MCEPostInbox.js" name="MCEPostInbox">
        <clobbers target="MCEPostInbox" />
    </js-module>
    
    <js-module src="js/jquery.inview.js" name="jquery-inview">
        <clobbers target="jquery-inview" />
    </js-module>
  
    <hook type="after_plugin_install" src="scripts/after_plugin_install.js" />
    <!--END INBOX PLUGIN-->


    <!--START INAPP PLUGIN-->
    <js-module src="MCEInAppPlugin.js" name="MCEInAppPlugin">
        <clobbers target="MCEInAppPlugin" />
    </js-module>
  
    <js-module src="js/MCEInAppBanner.js" name="MCEInAppBanner">
        <clobbers target="MCEInAppBanner" />
    </js-module>

    <js-module src="js/MCEInAppMedia.js" name="MCEInAppMedia">
        <clobbers target="MCEInAppMedia" />
    </js-module>

    <js-module src="js/MCEInAppVideo.js" name="MCEInAppVideo">
        <clobbers target="MCEInAppVideo" />
    </js-module>

    <js-module src="js/MCEInAppImage.js" name="MCEInAppImage">
        <clobbers target="MCEInAppImage" />
    </js-module>
    <!--END INAPP PLUGIN-->



    <preference name="CHANNEL_NAME" default="MCE SDK Notification Channel" />
    <preference name="CHANNEL_DESCRIPTION" default="This is the notification channel for the MCE SDK sample application"/>
    <preference name="CHANNEL_ID" default="mce_sample_channel"/>

    <preference name="LOGLEVEL" default="error" />
    <preference name="SERVER_URL" default="https://sdk.ibm.xtify.com" />
    <preference name="IOS_PROD_APPKEY" />
    <preference name="IOS_DEV_APPKEY" />
    <preference name="INVALIDATE_EXISTING_USER" default="false" />
    <preference name="AUTO_REINITIALIZE" default="true" />
    <preference name="AUTO_INITIALIZE" default="true" />
    <preference name="ANDROID_APPKEY" />




    <!--PLATFORM ANDROID-->
    <platform name="android">

        <framework src="com.google.android.gms:play-services-base:+" />
        <framework src="com.google.android.gms:play-services-auth:+" />
	    
	<!--edit-config file="AndroidManifest.xml" target="/manifest/application" mode="overwrite">
            <application android:allowBackup="false" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="co.acoustic.mobile.push.sdk.js.MceJsonApplication" android:supportsRtl="true" />
        </edit-config-->	    

        <config-file target="AndroidManifest.xml" parent="/manifest">
            
            <!-- INTERNET is required for calling the MCE server -->
            <uses-permission android:name="android.permission.INTERNET" />
            <!-- WAKE_LOC is required for running scheduled tasks -->
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <!-- RECEIVE_BOOT_COMPLETED is required for performing SDK task on device startup -->
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <!-- VIBRATE is required for notification configuration -->
            <uses-permission android:name="android.permission.VIBRATE" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">

            <!-- MCE API26 properties -->            
            <meta-data android:name="channelName" android:value="$CHANNEL_NAME" />
            <meta-data android:name="channelDescription" android:value="$CHANNEL_DESCRIPTION" />
            <meta-data android:name="channelId" android:value="$CHANNEL_ID" />

            <!-- MCE properties -->            
            <meta-data android:name="autoInitialize" android:value="$AUTO_INITIALIZE" />
            <meta-data android:name="autoReinitialize" android:value="$AUTO_REINITIALIZE" />
            <meta-data android:name="mceAppKey" android:value="@string/appkey" />
            <meta-data android:name="loglevel" android:value="$LOGLEVEL" />
            <meta-data android:name="mceSessionEnabled" android:value="true" />
            <meta-data android:name="mceSessionDuration" android:value="5" />
            <meta-data android:name="mceServer" android:value="$SERVER_URL" />
            <meta-data android:name="invalidateExistingUser" android:value="$INVALIDATE_EXISTING_USER" />
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

            <receiver android:name="co.acoustic.mobile.push.sdk.js.JsonMceBroadcastReceiver">
              <intent-filter>
                <action android:name="co.acoustic.mobile.push.sdk.NOTIFIER" />
              </intent-filter>
            </receiver>

            <!-- AlarmReceiver is required for SDK scheduled tasks and device status updates -->
            <receiver android:name="co.acoustic.mobile.push.sdk.wi.AlarmReceiver" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_REPLACED" />

                    <data android:scheme="package" />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.LOCALE_CHANGED" />
                </intent-filter>
            </receiver>

            <!-- NotifActionReceiver is required for notification handling -->
            <receiver android:name="co.acoustic.mobile.push.sdk.notification.NotifActionReceiver" />
            
            <!-- The provider is needed for the SDK database -->
            <provider
                android:name="co.acoustic.mobile.push.sdk.db.Provider"
                android:authorities="$PACKAGE_NAME.MCE_PROVIDER"
                android:exported="false" />
            <provider
                android:name="co.acoustic.mobile.push.sdk.js.Provider"
                android:authorities="$PACKAGE_NAME.MCE_JSON_PROVIDER"
                android:exported="false" />

            <service android:name="co.acoustic.mobile.push.sdk.session.SessionTrackingIntentService"/>

            <!-- EventsAlarmListener is required for event handling -->
            <service android:name="co.acoustic.mobile.push.sdk.events.EventsAlarmListener" />
            <!-- PhoneHomeIntentService is required to allow the client to contact the server to update state -->
            <service android:name="co.acoustic.mobile.push.sdk.registration.PhoneHomeIntentService" />
            <!-- RegistrationIntentService is required for SDK registration -->
            <service android:name="co.acoustic.mobile.push.sdk.registration.RegistrationIntentService" />
            <!-- AttributesQueueConsumer is required for attributes handling -->
            <service android:name="co.acoustic.mobile.push.sdk.attributes.AttributesQueueConsumer" />

            <!-- InboxUpdateService is optional. It is used for retrieving ibox updates from the MCE server. It is required only if inbox is used -->
            <service android:name="co.acoustic.mobile.push.sdk.plugin.inbox.InboxUpdateService" />
            <!-- MdeJobService is used for launching a job while the app is in the foreground. This is only used in Android O and above -->
            <service android:name="co.acoustic.mobile.push.sdk.job.MceJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>

            <!--FCM PLugin-->

            <meta-data android:name="messagingService" android:value="fcm" />
            <meta-data android:name="mceSenderId" android:value="1083061622885" />
	           

            <service android:name="co.acoustic.mobile.push.sdk.messaging.fcm.FcmMessagingService">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
        </config-file>


        <config-file target="res/values/strings.xml" parent="/*">
            <string name="appkey">$ANDROID_APPKEY</string>
        </config-file>     
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="MCEPlugin">
                <param name="android-package" value="co.acoustic.mobile.push.plugin.cordova.MceCordovaPlugin" />
            </feature>
        </config-file>
        <framework src="com.google.code.gson:gson:2.2.4"/>
        
        <source-file src="src/android/acoustic-mobile-push-android-sdk-3.8.0.jar" target-dir="libs" framework="false" />
        <source-file src="src/android/acoustic-mobile-push-android-js-3.8.0.jar" target-dir="libs" framework="false" />
        <source-file src="src/android/acoustic-mobile-push-android-cordova-3.8.0.jar" target-dir="libs" framework="false" />
        


        <!--START FCM-->
        <framework src="com.google.firebase:firebase-core:+" />

        <!--<framework src="src/android/FCMPlugin.gradle" custom="true" type="gradleReference"/>-->

        <hook src="scripts/after_prepare.js" type="after_prepare" />

        <config-file target="res/values/strings.xml" parent="/*">
            <string name="senderid">1083061622885</string>
        </config-file>
        <!--END FCM-->

        <!--START INBOX PLUGIN-->
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="MCEInboxPlugin">
                <param name="android-package" value="co.acoustic.mobile.push.plugin.cordova.inbox.MceCordovaInboxPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/acoustic-mobile-push-android-cordova-inbox-3.8.0.jar" target-dir="libs" framework="false" />
        <source-file src="src/android/acoustic-mobile-push-android-js-inbox-3.8.0.jar" target-dir="libs" framework="false" />
        <!--END INBOX PLUGIN-->


        <!--START INAPP PLUGIN-->
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="MCEInAppPlugin">
                <param name="android-package" value="co.acoustic.mobile.push.plugin.cordova.inapp.MceCordovaInAppPlugin" />
            </feature>
        </config-file>
   
        <source-file src="src/android/acoustic-mobile-push-android-cordova-inapp-3.8.0.jar" target-dir="libs" framework="false" />
        <source-file src="src/android/acoustic-mobile-push-android-js-inapp-3.8.0.jar" target-dir="libs" framework="false" />
        <source-file src="src/android/acoustic-mobile-push-android-sdk-plugin-inapp-3.8.0.jar" target-dir="libs" framework="false" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="co.acoustic.mobile.push.sdk.js.inapp.JsonMceBroadcastReceiver">
              <intent-filter>
                <action android:name="co.acoustic.mobile.push.sdk.NOTIFIER" />
              </intent-filter>
            </receiver>
        </config-file>
        <!--END INAPP PLUGIN-->
    </platform>
</plugin>
