/*
 * Copyright © 2016, 2019 Acoustic, L.P. All rights reserved.
 *
 * NOTICE: This file contains material that is confidential and proprietary to
 * Acoustic, L.P. and/or other developers. No license is granted under any intellectual or
 * industrial property rights of Acoustic, L.P. except as may be provided in an agreement with
 * Acoustic, L.P. Any unauthorized copying or distribution of content from this file is
 * prohibited.
 */

.mediaInApp {
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  text-shadow: none;
  top: 0;
  z-index: 1100;
}

.mediaInApp .handle {
  height: 14px;
  left: 0;
  position: absolute;
  right: 0;
  top: 10px;
}

.mediaInApp .handle img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}

.mediaInApp .close {
  align-self: flex-end;
  flex: 0 0 44px;
}

.mediaInApp .close img {
  height: 24px;
  object-fit: contain;
  object-position: top right;
  padding: 10px;
  width: 24px;
}

.mediaInApp .text {
  color: gray;
  flex: 0 0;
  height: 120px;
  max-height: 100%;
  order: 2;
  padding: 10px 10px 0;
}

.mediaInApp .text div {
  border-top: 1px solid gray;
}
