/*
 * Copyright © 2011, 2019 Acoustic, L.P. All rights reserved.
 *
 * NOTICE: This file contains material that is confidential and proprietary to
 * Acoustic, L.P. and/or other developers. No license is granted under any intellectual or
 * industrial property rights of Acoustic, L.P. except as may be provided in an agreement with
 * Acoustic, L.P. Any unauthorized copying or distribution of content from this file is
 * prohibited.
 */

/* Inbox Default Template Support */
#inboxMessages .defaultPreview { height: 44px; position: relative; }
#inboxMessages .defaultPreview .subject { font-size: 20px; height: 24px; overflow: hidden;}
#inboxMessages .defaultPreview .message { color: gray; height: 20px; }
#inboxMessages .defaultPreview .expired .date { color: red; }
#inboxMessages .defaultPreview .expired { opacity: 0.5; }
#inboxMessages .defaultPreview .new { font-weight: bold; }
#inboxMessages .defaultPreview .date { color: blue; float: right; }
#inboxMessage .defaultDisplay .subject { padding: 5px; }
#inboxMessage .defaultDisplay .date { padding: 5px; border-bottom: 1px solid gray; color: gray; font-size: smaller; }
#inboxMessage .defaultDisplay .content { padding: 5px; }
