/*
 * Copyright © 2011, 2019 Acoustic, L.P. All rights reserved.
 *
 * NOTICE: This file contains material that is confidential and proprietary to
 * Acoustic, L.P. and/or other developers. No license is granted under any intellectual or
 * industrial property rights of Acoustic, L.P. except as may be provided in an agreement with
 * Acoustic, L.P. Any unauthorized copying or distribution of content from this file is
 * prohibited.
 */

/* Inbox Support */
#inboxMessages .messagePreview { border-bottom: 1px solid gray; padding: 5px; }
#inboxMessages { padding: 0; min-height: 100%; }
#inboxMessageContent { padding: 0; }
#delete { background: red; color: white; position: absolute; right: 0; width: 50px; top: 0; bottom: 0; text-align: center; font-size: 12px; }
#refresh_button { padding: 5px !important; }
#up_button { float: right; padding: 10px;}
#down_button { float: right; padding: 10px;}
#delete_button { float: right; padding: 10px;}
#inboxMessages .emptyInbox { margin: 0; position: absolute; top: 40%; -ms-transform: translateY(-60%); transform: translateY(-60%); text-align: center; width: 100%;}



